@media screen and (max-width: 900px) {
  /* Specific to this particular image */
  #first_l {
    width: 100%;
    background: url(img/bg3.jpg) no-repeat center center;
  }

  #first_r {
    width: 100%;
    height: auto;
    padding: 20px 40px 0 40px;
  }

  #dawn {
    display: none;
  }

  .dawn1 {
    display: block;
  }

  #wrapper {
    width: 600px;
  }

  .contact {
    width: 75vw;
  }
}
@media screen and (max-width: 640px) {
  #wrapper {
    width: 90vw;
  }
.order {
  position: relative;
  display: inline-block;
  background-color: #000;
  box-sizing: border-box;
  float: inherit;
  width: 100%;
  height: auto;
}
.order a {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.order a:hover {
  cursor: pointer;
}
.order span {
  box-sizing: border-box;
  position: absolute;
  display: none;
  text-align: center;
  background: white;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  
}


  #scroller {
    display: none;
  }

  #send {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {

  #first_l {
  width: 100%;
  min-width: 100px;
  max-height: 800px;
  box-sizing: border-box;
  display: inline-block;
  background: url(img/bg3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 500px;
  /*padding-top: calc(50vh - 120px);*/
}
#first_r {
  width: 100%;
  min-width: 200px;
  max-height: 950px;
  font-family: "bravosc";
  box-sizing: border-box;
  display: inline-block;
  color: #f7f7f7;
  float: right;
  text-align: center;
  /*padding: calc(50vh - 100px) 60px 0 60px;*/
  padding: 40px 10px 0 10px;
}

#first_r img
{
  width:200px;
}


}
